In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
import numpy as np

In [14]:
df = pd.read_csv('mock_student_data.csv')

The first task is to load the file and generate summary statistics for each field as well as probability distributions or histograms. The summary statistics should include mean, median, mode, standard deviation, as well as the number of missing values for each field.

In [95]:
cols = ['Age', 'GPA', 'Days_missed']

In [110]:
df.describe()

                ID         Age         GPA  Days_missed
count  1000.000000  771.000000  779.000000   808.000000
mean    500.500000   16.996109    2.988447    18.011139
std     288.819436    1.458067    0.818249     9.629371
min       1.000000   15.000000    2.000000     2.000000
25%     250.750000   16.000000    2.000000     9.000000
50%     500.500000   17.000000    3.000000    18.000000
75%     750.250000   18.000000    4.000000    27.000000
max    1000.000000   19.000000    4.000000    34.000000

In [111]:
df.mode()

   ID First_name Last_name  State  Gender  Age  GPA  Days_missed Graduated
0 NaN        Amy      Ross  Texas  Female   15    2            6       Yes
1 NaN        NaN       NaN    NaN     NaN  NaN  NaN           14       NaN
2 NaN        NaN       NaN    NaN     NaN  NaN  NaN           31       NaN

In [112]:
df.isnull().sum()

ID               0
First_name       0
Last_name        0
State          116
Gender         226
Age            229
GPA            221
Days_missed    192
Graduated        0
dtype: int64

In [113]:
df.hist()
plt.savefig('histograms')

You will notice that a lot of students are missing gender values . Your task is to infer the gender of the student based on their name. Please use the API at www.genderize.io to infer the gender of each student and generate a new data file.

In [33]:
def genderize(name):
    args = {'name[]': name}
    r = requests.get('https://api.genderize.io/', params=args)
    print(r)
    print(r.json())
    return r.json()

In [16]:
names = list(df['First_name'].unique())

In [38]:
x = 0
name_dict = {}

while len(name_dict) < len(names):
    to_try = []
    for i in range(x,x+10):
        if i <= len(names):
            to_try.append(names[i])
    response = genderize(to_try)
    for r in response:
        name_dict[r['name']] = r['gender']
    x += 10

<Response [200]>
[{'probability': '1.00', 'gender': 'male', 'name': 'Wayne', 'count': 1014}, {'probability': '0.99', 'gender': 'female', 'name': 'Ann', 'count': 1818}, {'probability': '0.99', 'gender': 'male', 'name': 'George', 'count': 2098}, {'probability': '0.98', 'gender': 'male', 'name': 'Jerry', 'count': 1031}, {'probability': '0.79', 'gender': 'female', 'name': 'Andrea', 'count': 5812}, {'probability': '1.00', 'gender': 'female', 'name': 'Annie', 'count': 1120}, {'probability': '1.00', 'gender': 'female', 'name': 'Stephanie', 'count': 4941}, {'probability': '1.00', 'gender': 'female', 'name': 'Janet', 'count': 1579}, {'probability': '1.00', 'gender': 'female', 'name': 'Betty', 'count': 840}, {'probability': '1.00', 'gender': 'male', 'name': 'Henry', 'count': 1067}]
<Response [200]>
[{'probability': '1.00', 'gender': 'male', 'name': 'Samuel', 'count': 1411}, {'probability': '1.00', 'gender': 'male', 'name': 'Todd', 'count': 847}, {'probability': '1.00', 'gender': 'male', 'name': 'Nicholas', 'count': 1176}, {'probability': '1.00', 'gender': 'female', 'name': 'Jacqueline', 'count': 1016}, {'probability': '1.00', 'gender': 'female', 'name': 'Phyllis', 'count': 314}, {'probability': '1.00', 'gender': 'female', 'name': 'Sandra', 'count': 4110}, {'probability': '1.00', 'gender': 'female', 'name': 'Karen', 'count': 5462}, {'probability': '1.00', 'gender': 'female', 'name': 'Lori', 'count': 1294}, {'probability': '0.99', 'gender': 'female', 'name': 'Sara', 'count': 4441}, {'probability': '1.00', 'gender': 'male', 'name': 'Benjamin', 'count': 1475}]
<Response [200]>
[{'probability': '0.99', 'gender': 'male', 'name': 'Ryan', 'count': 4755}, {'probability': '1.00', 'gender': 'male', 'name': 'Anthony', 'count': 3029}, {'probability': '1.00', 'gender': 'female', 'name': 'Katherine', 'count': 1414}, {'probability': '0.99', 'gender': 'male', 'name': 'Harry', 'count': 844}, {'probability': '0.97', 'gender': 'female', 'name': 'Joyce', 'count': 1089}, {'probability': '1.00', 'gender': 'male', 'name': 'Jonathan', 'count': 3702}, {'probability': '0.93', 'gender': 'male', 'name': 'Jesse', 'count': 1095}, {'probability': '1.00', 'gender': 'female', 'name': 'Susan', 'count': 3203}, {'probability': '1.00', 'gender': 'female', 'name': 'Kathleen', 'count': 972}, {'probability': '1.00', 'gender': 'male', 'name': 'Steven', 'count': 2600}]
<Response [200]>
[{'probability': '0.90', 'gender': 'male', 'name': 'Shawn', 'count': 1059}, {'probability': '0.98', 'gender': 'male', 'name': 'Arthur', 'count': 547}, {'probability': '1.00', 'gender': 'male', 'name': 'Harold', 'count': 364}, {'probability': '0.99', 'gender': 'female', 'name': 'Bonnie', 'count': 784}, {'probability': '0.99', 'gender': 'female', 'name': 'Doris', 'count': 455}, {'probability': '1.00', 'gender': 'female', 'name': 'Anna', 'count': 4755}, {'probability': '1.00', 'gender': 'female', 'name': 'Ruth', 'count': 1344}, {'probability': '0.99', 'gender': 'female', 'name': 'Wanda', 'count': 333}, {'probability': '1.00', 'gender': 'male', 'name': 'Jimmy', 'count': 1416}, {'probability': '1.00', 'gender': 'female', 'name': 'Marilyn', 'count': 718}]
<Response [200]>
[{'probability': '1.00', 'gender': 'female', 'name': 'Donna', 'count': 2227}, {'probability': '1.00', 'gender': 'female', 'name': 'Judy', 'count': 1375}, {'probability': '1.00', 'gender': 'female', 'name': 'Irene', 'count': 1333}, {'probability': '1.00', 'gender': 'male', 'name': 'Frank', 'count': 1565}, {'probability': '1.00', 'gender': 'male', 'name': 'Mark', 'count': 6178}, {'probability': '1.00', 'gender': 'male', 'name': 'Aaron', 'count': 2299}, {'probability': '1.00', 'gender': 'female', 'name': 'Christina', 'count': 2400}, {'probability': '0.99', 'gender': 'female', 'name': 'Diana', 'count': 2885}, {'probability': '1.00', 'gender': 'male', 'name': 'William', 'count': 2626}, {'probability': '0.99', 'gender': 'male', 'name': 'Joseph', 'count': 2213}]
<Response [200]>
[{'probability': '1.00', 'gender': 'male', 'name': 'Stephen', 'count': 2608}, {'probability': '0.99', 'gender': 'male', 'name': 'Joshua', 'count': 1570}, {'probability': '1.00', 'gender': 'male', 'name': 'Raymond', 'count': 770}, {'probability': '1.00', 'gender': 'male', 'name': 'Philip', 'count': 1097}, {'probability': '1.00', 'gender': 'male', 'name': 'Christopher', 'count': 2339}, {'probability': '1.00', 'gender': 'female', 'name': 'Sarah', 'count': 8371}, {'probability': '1.00', 'gender': 'male', 'name': 'Antonio', 'count': 2290}, {'probability': '1.00', 'gender': 'male', 'name': 'Ralph', 'count': 323}, {'probability': '1.00', 'gender': 'male', 'name': 'Patrick', 'count': 2877}, {'probability': '0.98', 'gender': 'female', 'name': 'Lois', 'count': 280}]
<Response [200]>
[{'probability': '1.00', 'gender': 'female', 'name': 'Melissa', 'count': 4541}, {'probability': '1.00', 'gender': 'male', 'name': 'Eric', 'count': 4110}, {'probability': '1.00', 'gender': 'male', 'name': 'Timothy', 'count': 809}, {'probability': '0.94', 'gender': 'female', 'name': 'Kelly', 'count': 3831}, {'probability': '1.00', 'gender': 'male', 'name': 'Earl', 'count': 201}, {'probability': '0.98', 'gender': 'male', 'name': 'Fred', 'count': 966}, {'probability': '1.00', 'gender': 'female', 'name': 'Emily', 'count': 3765}, {'probability': '0.99', 'gender': 'male', 'name': 'James', 'count': 6359}, {'probability': '0.99', 'gender': 'male', 'name': 'Johnny', 'count': 955}, {'probability': '0.82', 'gender': 'female', 'name': 'Joan', 'count': 1017}]
<Response [200]>
[{'probability': '0.99', 'gender': 'male', 'name': 'Keith', 'count': 1417}, {'probability': '1.00', 'gender': 'male', 'name': 'Craig', 'count': 1816}, {'probability': '1.00', 'gender': 'female', 'name': 'Judith', 'count': 750}, {'probability': '1.00', 'gender': 'male', 'name': 'Kenneth', 'count': 1020}, {'probability': '0.98', 'gender': 'female', 'name': 'Margaret', 'count': 1101}, {'probability': '0.99', 'gender': 'female', 'name': 'Martha', 'count': 1169}, {'probability': '0.99', 'gender': 'male', 'name': 'Albert', 'count': 723}, {'probability': '1.00', 'gender': 'female', 'name': 'Shirley', 'count': 1073}, {'probability': '1.00', 'gender': 'female', 'name': 'Heather', 'count': 3220}, {'probability': '0.99', 'gender': 'female', 'name': 'Diane', 'count': 1649}]
<Response [200]>
[{'probability': '0.99', 'gender': 'male', 'name': 'Jack', 'count': 1993}, {'probability': '1.00', 'gender': 'male', 'name': 'Justin', 'count': 2871}, {'probability': '1.00', 'gender': 'male', 'name': 'Edward', 'count': 1015}, {'probability': '1.00', 'gender': 'female', 'name': 'Lisa', 'count': 6395}, {'probability': '0.99', 'gender': 'female', 'name': 'Amy', 'count': 4334}, {'probability': '0.99', 'gender': 'male', 'name': 'Juan', 'count': 4584}, {'probability': '1.00', 'gender': 'female', 'name': 'Debra', 'count': 675}, {'probability': '1.00', 'gender': 'male', 'name': 'Jason', 'count': 4927}, {'probability': '1.00', 'gender': 'female', 'name': 'Mary', 'count': 4440}, {'probability': '1.00', 'gender': 'male', 'name': 'Carlos', 'count': 5149}]
<Response [200]>
[{'probability': '1.00', 'gender': 'female', 'name': 'Kathryn', 'count': 827}, {'probability': '1.00', 'gender': 'female', 'name': 'Nancy', 'count': 2716}, {'probability': '1.00', 'gender': 'male', 'name': 'Daniel', 'count': 8186}, {'probability': '0.98', 'gender': 'male', 'name': 'Eugene', 'count': 323}, {'probability': '0.99', 'gender': 'female', 'name': 'Lillian', 'count': 168}, {'probability': '1.00', 'gender': 'female', 'name': 'Linda', 'count': 4323}, {'probability': '0.99', 'gender': 'male', 'name': 'Jose', 'count': 5109}, {'probability': '0.99', 'gender': 'male', 'name': 'Louis', 'count': 654}, {'probability': '1.00', 'gender': 'female', 'name': 'Janice', 'count': 1052}, {'probability': '1.00', 'gender': 'female', 'name': 'Laura', 'count': 7953}]
<Response [200]>
[{'probability': '1.00', 'gender': 'male', 'name': 'Andrew', 'count': 5168}, {'probability': '1.00', 'gender': 'male', 'name': 'Sean', 'count': 2515}, {'probability': '1.00', 'gender': 'male', 'name': 'Bruce', 'count': 800}, {'probability': '0.99', 'gender': 'female', 'name': 'Beverly', 'count': 385}, {'probability': '1.00', 'gender': 'female', 'name': 'Elizabeth', 'count': 3510}, {'probability': '0.99', 'gender': 'male', 'name': 'Ernest', 'count': 147}, {'probability': '0.95', 'gender': 'male', 'name': 'Willie', 'count': 165}, {'probability': '1.00', 'gender': 'male', 'name': 'Alan', 'count': 2079}, {'probability': '0.99', 'gender': 'female', 'name': 'Rose', 'count': 857}, {'probability': '1.00', 'gender': 'female', 'name': 'Evelyn', 'count': 754}]
<Response [200]>
[{'probability': '0.95', 'gender': 'male', 'name': 'Clarence', 'count': 78}, {'probability': '1.00', 'gender': 'female', 'name': 'Anne', 'count': 2461}, {'probability': '0.99', 'gender': 'female', 'name': 'Sharon', 'count': 2760}, {'probability': '1.00', 'gender': 'male', 'name': 'Brandon', 'count': 1869}, {'probability': '0.99', 'gender': 'female', 'name': 'Maria', 'count': 8467}, {'probability': '1.00', 'gender': 'female', 'name': 'Pamela', 'count': 1518}, {'probability': '1.00', 'gender': 'female', 'name': 'Angela', 'count': 3511}, {'probability': '1.00', 'gender': 'female', 'name': 'Tina', 'count': 2195}, {'probability': '1.00', 'gender': 'male', 'name': 'Matthew', 'count': 3338}, {'probability': '1.00', 'gender': 'female', 'name': 'Louise', 'count': 1791}]
<Response [200]>
[{'probability': '1.00', 'gender': 'male', 'name': 'Gregory', 'count': 722}, {'probability': '1.00', 'gender': 'female', 'name': 'Carolyn', 'count': 991}, {'probability': '1.00', 'gender': 'male', 'name': 'Larry', 'count': 972}, {'probability': '1.00', 'gender': 'male', 'name': 'Victor', 'count': 2244}, {'probability': '0.99', 'gender': 'male', 'name': 'John', 'count': 9931}, {'probability': '0.98', 'gender': 'male', 'name': 'Randy', 'count': 1013}, {'probability': '1.00', 'gender': 'female', 'name': 'Patricia', 'count': 3491}, {'probability': '1.00', 'gender': 'female', 'name': 'Tammy', 'count': 1378}, {'probability': '1.00', 'gender': 'male', 'name': 'Brian', 'count': 4600}, {'probability': '1.00', 'gender': 'male', 'name': 'Walter', 'count': 864}]
<Response [200]>
[{'probability': '1.00', 'gender': 'female', 'name': 'Cheryl', 'count': 1628}, {'probability': '0.99', 'gender': 'male', 'name': 'Jeremy', 'count': 2160}, {'probability': '1.00', 'gender': 'male', 'name': 'Gary', 'count': 2132}, {'probability': '1.00', 'gender': 'male', 'name': 'Peter', 'count': 4373}, {'probability': '0.53', 'gender': 'female', 'name': 'Jean', 'count': 1523}, {'probability': '0.99', 'gender': 'female', 'name': 'Frances', 'count': 431}, {'probability': '0.59', 'gender': 'female', 'name': 'Robin', 'count': 1628}, {'probability': '1.00', 'gender': 'female', 'name': 'Catherine', 'count': 2383}, {'probability': '0.78', 'gender': 'male', 'name': 'Terry', 'count': 1429}, {'probability': '0.99', 'gender': 'female', 'name': 'Carol', 'count': 2345}]
<Response [200]>
[{'probability': '0.99', 'gender': 'female', 'name': 'Paula', 'count': 2298}, {'probability': '0.99', 'gender': 'female', 'name': 'Brenda', 'count': 1816}, {'probability': '1.00', 'gender': 'female', 'name': 'Gloria', 'count': 1188}, {'probability': '1.00', 'gender': 'male', 'name': 'Phillip', 'count': 463}, {'probability': '1.00', 'gender': 'female', 'name': 'Kathy', 'count': 2220}, {'probability': '1.00', 'gender': 'male', 'name': 'Ronald', 'count': 755}, {'probability': '1.00', 'gender': 'female', 'name': 'Michelle', 'count': 5658}, {'probability': '1.00', 'gender': 'male', 'name': 'Richard', 'count': 4381}, {'probability': '1.00', 'gender': 'female', 'name': 'Amanda', 'count': 4907}, {'probability': '1.00', 'gender': 'male', 'name': 'Adam', 'count': 3963}]
<Response [200]>
[{'probability': '1.00', 'gender': 'male', 'name': 'Carl', 'count': 929}, {'probability': '1.00', 'gender': 'male', 'name': 'Donald', 'count': 493}, {'probability': '1.00', 'gender': 'female', 'name': 'Denise', 'count': 1844}, {'probability': '0.96', 'gender': 'male', 'name': 'Bobby', 'count': 745}, {'probability': '0.99', 'gender': 'male', 'name': 'Dennis', 'count': 1279}, {'probability': '1.00', 'gender': 'male', 'name': 'Steve', 'count': 3965}, {'probability': '1.00', 'gender': 'female', 'name': 'Christine', 'count': 3115}, {'probability': '0.99', 'gender': 'female', 'name': 'Julia', 'count': 2171}, {'probability': '0.99', 'gender': 'female', 'name': 'Marie', 'count': 2299}, {'probability': '1.00', 'gender': 'male', 'name': 'David', 'count': 12597}]
<Response [200]>
[{'probability': '1.00', 'gender': 'male', 'name': 'Lawrence', 'count': 393}, {'probability': '0.99', 'gender': 'female', 'name': 'Helen', 'count': 2232}, {'probability': '1.00', 'gender': 'female', 'name': 'Virginia', 'count': 797}, {'probability': '1.00', 'gender': 'female', 'name': 'Cynthia', 'count': 1489}, {'probability': '1.00', 'gender': 'female', 'name': 'Jennifer', 'count': 6717}, {'probability': '1.00', 'gender': 'male', 'name': 'Scott', 'count': 3450}, {'probability': '1.00', 'gender': 'female', 'name': 'Kimberly', 'count': 1717}, {'probability': '1.00', 'gender': 'male', 'name': 'Jeffrey', 'count': 932}, {'probability': '0.99', 'gender': 'female', 'name': 'Deborah', 'count': 1417}, {'probability': '1.00', 'gender': 'female', 'name': 'Theresa', 'count': 834}]
<Response [200]>
[{'probability': '1.00', 'gender': 'female', 'name': 'Jessica', 'count': 6696}, {'probability': '1.00', 'gender': 'female', 'name': 'Mildred', 'count': 128}, {'probability': '1.00', 'gender': 'female', 'name': 'Teresa', 'count': 1631}, {'probability': '1.00', 'gender': 'male', 'name': 'Russell', 'count': 513}, {'probability': '1.00', 'gender': 'male', 'name': 'Michael', 'count': 11160}, {'probability': '0.99', 'gender': 'male', 'name': 'Roy', 'count': 651}, {'probability': '1.00', 'gender': 'female', 'name': 'Julie', 'count': 4263}, {'probability': '0.93', 'gender': 'male', 'name': 'Chris', 'count': 8631}, {'probability': '0.99', 'gender': 'male', 'name': 'Gerald', 'count': 429}, {'probability': '1.00', 'gender': 'male', 'name': 'Robert', 'count': 5245}]
<Response [200]>
[{'probability': '1.00', 'gender': 'female', 'name': 'Norma', 'count': 548}, {'probability': '0.90', 'gender': 'female', 'name': 'Ashley', 'count': 3897}, {'probability': '1.00', 'gender': 'male', 'name': 'Charles', 'count': 1798}, {'probability': '0.99', 'gender': 'female', 'name': 'Dorothy', 'count': 474}, {'probability': '1.00', 'gender': 'male', 'name': 'Paul', 'count': 5931}, {'probability': '1.00', 'gender': 'male', 'name': 'Martin', 'count': 3568}, {'probability': '1.00', 'gender': 'female', 'name': 'Rebecca', 'count': 3188}, {'probability': '1.00', 'gender': 'male', 'name': 'Kevin', 'count': 5362}, {'probability': '1.00', 'gender': 'female', 'name': 'Alice', 'count': 1414}, {'probability': '1.00', 'gender': 'male', 'name': 'Thomas', 'count': 3753}]
<Response [200]>
[{'probability': '1.00', 'gender': 'female', 'name': 'Rachel', 'count': 4021}, {'probability': '1.00', 'gender': 'female', 'name': 'Nicole', 'count': 4042}, {'probability': '0.98', 'gender': 'male', 'name': 'Billy', 'count': 913}, {'probability': '0.98', 'gender': 'male', 'name': 'Joe', 'count': 3713}, {'probability': '0.96', 'gender': 'male', 'name': 'Howard', 'count': 296}, {'probability': '1.00', 'gender': 'male', 'name': 'Roger', 'count': 1220}, {'probability': '1.00', 'gender': 'male', 'name': 'Douglas', 'count': 611}, {'probability': '1.00', 'gender': 'female', 'name': 'Barbara', 'count': 2843}, {'probability': '0.97', 'gender': 'female', 'name': 'Ruby', 'count': 388}, {'probability': '0.99', 'gender': 'female', 'name': 'Jane', 'count': 1796}]

In [51]:
name_dict

{'Aaron': 'male',
 'Adam': 'male',
 'Alan': 'male',
 'Albert': 'male',
 'Alice': 'female',
 'Amanda': 'female',
 'Amy': 'female',
 'Andrea': 'female',
 'Andrew': 'male',
 'Angela': 'female',
 'Ann': 'female',
 'Anna': 'female',
 'Anne': 'female',
 'Annie': 'female',
 'Anthony': 'male',
 'Antonio': 'male',
 'Arthur': 'male',
 'Ashley': 'female',
 'Barbara': 'female',
 'Benjamin': 'male',
 'Betty': 'female',
 'Beverly': 'female',
 'Billy': 'male',
 'Bobby': 'male',
 'Bonnie': 'female',
 'Brandon': 'male',
 'Brenda': 'female',
 'Brian': 'male',
 'Bruce': 'male',
 'Carl': 'male',
 'Carlos': 'male',
 'Carol': 'female',
 'Carolyn': 'female',
 'Catherine': 'female',
 'Charles': 'male',
 'Cheryl': 'female',
 'Chris': 'male',
 'Christina': 'female',
 'Christine': 'female',
 'Christopher': 'male',
 'Clarence': 'male',
 'Craig': 'male',
 'Cynthia': 'female',
 'Daniel': 'male',
 'David': 'male',
 'Deborah': 'female',
 'Debra': 'female',
 'Denise': 'female',
 'Dennis': 'male',
 'Diana': 'female',
 'Diane': 'female',
 'Donald': 'male',
 'Donna': 'female',
 'Doris': 'female',
 'Dorothy': 'female',
 'Douglas': 'male',
 'Earl': 'male',
 'Edward': 'male',
 'Elizabeth': 'female',
 'Emily': 'female',
 'Eric': 'male',
 'Ernest': 'male',
 'Eugene': 'male',
 'Evelyn': 'female',
 'Frances': 'female',
 'Frank': 'male',
 'Fred': 'male',
 'Gary': 'male',
 'George': 'male',
 'Gerald': 'male',
 'Gloria': 'female',
 'Gregory': 'male',
 'Harold': 'male',
 'Harry': 'male',
 'Heather': 'female',
 'Helen': 'female',
 'Henry': 'male',
 'Howard': 'male',
 'Irene': 'female',
 'Jack': 'male',
 'Jacqueline': 'female',
 'James': 'male',
 'Jane': 'female',
 'Janet': 'female',
 'Janice': 'female',
 'Jason': 'male',
 'Jean': 'female',
 'Jeffrey': 'male',
 'Jennifer': 'female',
 'Jeremy': 'male',
 'Jerry': 'male',
 'Jesse': 'male',
 'Jessica': 'female',
 'Jimmy': 'male',
 'Joan': 'female',
 'Joe': 'male',
 'John': 'male',
 'Johnny': 'male',
 'Jonathan': 'male',
 'Jose': 'male',
 'Joseph': 'male',
 'Joshua': 'male',
 'Joyce': 'female',
 'Juan': 'male',
 'Judith': 'female',
 'Judy': 'female',
 'Julia': 'female',
 'Julie': 'female',
 'Justin': 'male',
 'Karen': 'female',
 'Katherine': 'female',
 'Kathleen': 'female',
 'Kathryn': 'female',
 'Kathy': 'female',
 'Keith': 'male',
 'Kelly': 'female',
 'Kenneth': 'male',
 'Kevin': 'male',
 'Kimberly': 'female',
 'Larry': 'male',
 'Laura': 'female',
 'Lawrence': 'male',
 'Lillian': 'female',
 'Linda': 'female',
 'Lisa': 'female',
 'Lois': 'female',
 'Lori': 'female',
 'Louis': 'male',
 'Louise': 'female',
 'Margaret': 'female',
 'Maria': 'female',
 'Marie': 'female',
 'Marilyn': 'female',
 'Mark': 'male',
 'Martha': 'female',
 'Martin': 'male',
 'Mary': 'female',
 'Matthew': 'male',
 'Melissa': 'female',
 'Michael': 'male',
 'Michelle': 'female',
 'Mildred': 'female',
 'Nancy': 'female',
 'Nicholas': 'male',
 'Nicole': 'female',
 'Norma': 'female',
 'Pamela': 'female',
 'Patricia': 'female',
 'Patrick': 'male',
 'Paul': 'male',
 'Paula': 'female',
 'Peter': 'male',
 'Philip': 'male',
 'Phillip': 'male',
 'Phyllis': 'female',
 'Rachel': 'female',
 'Ralph': 'male',
 'Randy': 'male',
 'Raymond': 'male',
 'Rebecca': 'female',
 'Richard': 'male',
 'Robert': 'male',
 'Robin': 'female',
 'Roger': 'male',
 'Ronald': 'male',
 'Rose': 'female',
 'Roy': 'male',
 'Ruby': 'female',
 'Russell': 'male',
 'Ruth': 'female',
 'Ryan': 'male',
 'Samuel': 'male',
 'Sandra': 'female',
 'Sara': 'female',
 'Sarah': 'female',
 'Scott': 'male',
 'Sean': 'male',
 'Sharon': 'female',
 'Shawn': 'male',
 'Shirley': 'female',
 'Stephanie': 'female',
 'Stephen': 'male',
 'Steve': 'male',
 'Steven': 'male',
 'Susan': 'female',
 'Tammy': 'female',
 'Teresa': 'female',
 'Terry': 'male',
 'Theresa': 'female',
 'Thomas': 'male',
 'Timothy': 'male',
 'Tina': 'female',
 'Todd': 'male',
 'Victor': 'male',
 'Virginia': 'female',
 'Walter': 'male',
 'Wanda': 'female',
 'Wayne': 'male',
 'William': 'male',
 'Willie': 'male'}

In [41]:
def get_gender(x):
    return name_dict[x]

In [44]:
df['Gender'].isnull().sum()

226

In [49]:
# df['inferred_gender'] = genderize(df['First_name'])
df_genderized = df.copy()
df_genderized['Gender'].fillna(df_genderized['First_name'].apply(get_gender), inplace=True)

In [50]:
df_genderized.head(15)

,ID,First_name,Last_name,State,Gender,Age,GPA,Days_missed,Graduated
0,1,Wayne,Boyd,Florida,Male,19,NaN,9,Yes
1,2,Ann,Matthews,Pennsylvania,Female,18,3,NaN,Yes
2,3,George,Matthews,Texas,male,17,NaN,10,Yes
3,4,Jerry,Ramos,California,Male,15,2,28,No
4,5,Andrea,Carroll,North Carolina,Female,NaN,2,29,No
5,6,Annie,Fisher,Virginia,Female,19,NaN,5,Yes
6,7,Stephanie,Barnes,Oklahoma,Female,NaN,3,20,No
7,8,Janet,Jenkins,Louisiana,Female,15,4,20,Yes
8,9,Betty,Miller,NaN,female,17,3,23,No
9,10,Henry,Woods,Colorado,Male,19,4,14,Yes
10,11,Stephanie,Harris,NaN,Female,NaN,NaN,3,Yes
11,12,Samuel,George,Georgia,Male,15,3,13,No
12,13,Todd,Phillips,Indiana,male,NaN,2,3,Yes
13,14,Nicholas,Rice,Florida,Male,NaN,2,8,No
14,15,Jacqueline,Wallace,New York,Female,NaN,2,26,No

In [107]:
df_genderized.to_csv('genderized_data')

NameError: name 'df_genderized' is not defined

You will also notice that some of the other attributes are missing. Your task is to fill in the missing values for Age, GPA, and Days_missed using the following approaches:
Fill in missing values with the mean of the values for that attribute
Fill in missing values with a class-conditional mean (where the class is whether they graduated or not).
Is there a better, more appropriate method for filling in the missing values? If yes, describe and implement it.

In [83]:
# Approach A
df_a = df.copy()

for col in cols:
    df_a[col].fillna(df_a[col].mean(), inplace=True)

df_a.to_csv('approach_a')

In [91]:
# Approach B
df_b = df.copy()

for col in cols:
    df_b[col].fillna(df_b.groupby("Graduated")[col].transform("mean"), inplace=True)

df_b.to_csv('approach_b')