In [93]:
import pandas as pd
import matplotlib.pyplot as plt
import requests

In [94]:
df = pd.read_csv('mock_student_data.csv')

The first task is to load the file and generate summary statistics for each field as well as probability distributions or histograms. The summary statistics should include mean, median, mode, standard deviation, as well as the number of missing values for each field.

In [95]:
cols = ['Age', 'GPA', 'Days_missed']

In [102]:
df.describe()

                ID         Age         GPA  Days_missed
count  1000.000000  771.000000  779.000000   808.000000
mean    500.500000   16.996109    2.988447    18.011139
std     288.819436    1.458067    0.818249     9.629371
min       1.000000   15.000000    2.000000     2.000000
25%     250.750000   16.000000    2.000000     9.000000
50%     500.500000   17.000000    3.000000    18.000000
75%     750.250000   18.000000    4.000000    27.000000
max    1000.000000   19.000000    4.000000    34.000000

In [100]:
df.mode()

   ID First_name Last_name  State  Gender  Age  GPA  Days_missed Graduated
0 NaN        Amy      Ross  Texas  Female   15    2            6       Yes
1 NaN        NaN       NaN    NaN     NaN  NaN  NaN           14       NaN
2 NaN        NaN       NaN    NaN     NaN  NaN  NaN           31       NaN

In [101]:
df.isnull().sum()

ID               0
First_name       0
Last_name        0
State          116
Gender         226
Age            229
GPA            221
Days_missed    192
Graduated        0
dtype: int64

In [97]:
df.hist()
plt.savefig('histograms')

You will notice that a lot of students are missing gender values . Your task is to infer the gender of the student based on their name. Please use the API at www.genderize.io to infer the gender of each student and generate a new data file.

In [98]:
def genderize(name):
    args = {'name': name}
    r = requests.get('https://api.genderize.io/', params=args)
    return r.json()['gender']

In [99]:
df['inferred_gender'] = genderize(df['First_name'])

ValueError: Expecting value: line 1 column 1 (char 0)

In [55]:
df.to_csv('genderized_data')

You will also notice that some of the other attributes are missing. Your task is to fill in the missing values for Age, GPA, and Days_missed using the following approaches:
Fill in missing values with the mean of the values for that attribute
Fill in missing values with a class-conditional mean (where the class is whether they graduated or not).
Is there a better, more appropriate method for filling in the missing values? If yes, describe and implement it.

In [83]:
# Approach A
df_a = df.copy()

for col in cols:
    df_a[col].fillna(df_a[col].mean(), inplace=True)

df_a.to_csv('approach_a')

In [91]:
# Approach B
df_b = df.copy()

for col in cols:
    df_b[col].fillna(df_b.groupby("Graduated")[col].transform("mean"), inplace=True)

df_b.to_csv('approach_b')